body {
  color: white;
  margin: 0px;
}

#bg {
  position: absolute;
  top: 0px;
  left: 0px;
  height: 100%;
  width: 100%;
  z-index: -1;
}

#header {
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100px;
  margin: 0px;
  background-color: #D5D9DB;
}

#logo {
  top: 0px;
  left: 0px;
  width: 320px;
  height: 100px;
  margin: 0px;
}

#outerContent {
  background-color: #202020;
  padding: 5px;
  border-radius: 25px;
  margin: 5px;
  top: 100px;
}

#options {
  position: relative;
  margin-left: auto;
  margin-right: auto;
  width: 70%;
  top: 100px;
}

#leftBox {
  background-color: #202020;
  padding: 5px;
  border-radius: 25px;
  margin: 5px;
  top: 100px;
  width: 30%;
  float: left;
}

#rightBox {
  background-color: #202020;
  padding: 5px;
  border-radius: 25px;
  margin: 5px;
  top: 100px;
  width: 30%;
  float: right;
}

.innerContentBorder {
  border: 2px solid #D5D9DB;
  padding: 10px;
  border-radius: 20px;
}

.content {
  height: 60%;
}

#keys {
  position: relative;
  left: 0px;
  width: 100px;
}

#keyboard {
  position: relative;
  left: 100px;
  background-color: #193C5C;
}

.keyLine {
  position: absolute;
  height: 1px;
  background-color: black;
}

.note {
  position: absolute;
  float: left;
  width: 0px;
  border-top-left-radius: 3px;
  border-bottom-right-radius: 3px;
  z-index: 1;

  background-color: #D5D9DB;
  -mb-hover-color: white;
  -mb-selected-color: blue;
  -mb-selected-hover-color: #2E9AFE;
}

.noteBar {
  position: absolute;
  width: 2px;
  background-color: white;
  cursor: col-resize;
}

button {
  background-color: white;
  border: none;
  color: black;
  border-radius: 3px;
}

button:hover {
  background-color: blue;
  color: white;
}

.key {
  position: absolute;
  height: 30px;
  width: 100px;
  float: left;
  clear: both;
  text-align: right;
}

.line {
  position: absolute;
  width: 1px;
  top: 0px;
  margin: 0px;
  background-color: black;
}
