body {
  color: white;
  background-color: #121317;
  margin: 0px;
  font-family: arial, helvetica;
}
#logo {
  top: 0px;
  left: 0px;
  width: 230px;
  height: 100px;
  margin: 0px;
}
#options {
  position: relative;
  margin-left: auto;
  margin-right: auto;
  width: 70%;
  top: 100px;
}
#options td {
  padding-bottom: 20px;
  font-weight: bold;
  text-align: right;
  font-family: arial, helvetica;
}
.box {
  padding: 5px;
  margin: 5px;
  top: 100px;
  width: 300px;
}
#leftBox {
  padding: 5px;
  margin: 5px;
  top: 100px;
  width: 300px;
  float: left;
}
#rightBox {
  padding: 5px;
  margin: 5px;
  top: 100px;
  width: 300px;
  float: right;
}
.content {
  height: 60%;
  padding: 5px;
  margin: 5px;
  top: 100px;
}
#keys {
  position: relative;
  left: 0px;
  width: 100px;
}
.keyLine {
  position: absolute;
  height: 1px;
  background-color: black;
}
#keyboard {
  position: relative;
  left: 100px;
  background-color: #A4A4A4;
}
.note {
  position: absolute;
  float: left;
  width: 0px;
  border-top-left-radius: 3px;
  border-bottom-right-radius: 3px;
  z-index: 1;
  background-color: #000092;
  -mb-hover-color: blue;
  -mb-selected-color: #4848FF;
  -mb-selected-hover-color: #7D7DFF;
}
.noteBar {
  position: absolute;
  width: 2px;
  background-color: white;
  cursor: col-resize;
}
.line {
  position: absolute;
  width: 1px;
  top: 0px;
  margin: 0px;
  background-color: black;
}
.key {
  position: absolute;
  height: 30px;
  width: 100px;
  float: left;
  clear: both;
  text-align: right;
  -mb-dark-background-color: #202B30;
  -mb-dark-text-color: white;
  -mb-dark-border-color: #4E7178;
  -mb-light-background-color: #4E7178;
  -mb-light-text-color: black;
  -mb-light-border-color: #202B30;
}
input {
  background-color: #30373F;
  color: #788B9F;
  border: 1px solid #56585A;
}
button, .button {
  background-color: #56585A;
  border: none;
  color: white;
  border-radius: 3px;
  border: 1px solid #56585A;
  font-size: 14pt;
  float: right;
}
button:hover, .button:hover {
  background-color: #30373F;
  color: white;
  border: 1px solid #56585A;
}
