#header {
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100px;
  margin: 0px;
  background-color: #121317;
}
#header #logo {
  top: 0px;
  left: 0px;
  width: 335px;
  height: 100px;
  margin: 0px;
  border: none;
}
#header form button, #header form .button {
  font-size: 12pt;
}
#header #loginForm {
  float: right;
}
#header #loginForm td {
  font-weight: bold;
  text-align: right;
}
#header #loginForm #loginError {
  font-size: 10pt;
  font-weight: normal;
  color: red;
}
#header #userBar {
  position: absolute;
  right: 0px;
  top: 25px;
}
#header #userBar li {
  display: inline;
  list-style-type: none;
}
#header #userBar li button {
  margin-right: 25px;
  font-size: 14pt;
}
#header #unauthenticatedUserBar {
  float: right;
  top: 25px;
}
#header #unauthenticatedUserBar li {
  display: inline;
  list-style-type: none;
}
#header #unauthenticatedUserBar li button {
  margin-right: 25px;
  font-size: 14pt;
}
