<html>
<head>
{% if song.name %}
  <title>Mixboard : edit : {{ song.name }}</title>
{% else %}
  <title>Mixboard : create</title>
{% endif %}
<link type="text/css" href="/static/skin/jplayer.blue.monday.css" rel="stylesheet" media="all">
<link type="text/css" href="/static/jquery.jscrollpane.css" rel="stylesheet" media="all" />

<link type="text/css" href="/static/header.css" rel="stylesheet" media="all" />
<link type="text/css" href="/static/editor.css" rel="stylesheet" media="all" />

<script type="text/javascript" src="/static/jquery-1.7.1.js"></script>

<script type="text/javascript" src="/static/mwheelIntent.js"></script>
<script type="text/javascript" src="/static/jquery.mousewheel.js"></script>
<script type="text/javascript" src="/static/jquery.jscrollpane.min.js"></script>
<script type="text/javascript" src="/static/jquery.jplayer.js"></script>
<script type="text/javascript" src="/static/jquery.simplemodal-1.4.2.js"></script>
<script type="text/javascript" src="/static/editorCSS.js"></script>
<script type="text/javascript" src="/static/editor.js"></script>

<script type="text/javascript" src="/static/login.js"></script>

</head>
<body>

{% include "header.html" %}

<div id='songId' style="display: none;">{{ song.id }}</div>
<div id='songOwner' style="display: none;">{{ song.owner.username }}</div>
<div id='songName' style="display: none;">{{ song.name }}</div>
<div id='songData' style="display: none;">{{ song.data }}</div>

<div id='saveSongDialog' class='modalDialog'>
  <form action='/song/save/' id='saveSongForm'>
    <table>
      <tr>
        <td>song name</td>
        <td><input type="text" id="saveSongName"></td>
      </tr>
      <tr>
        <td colspan="2"><div id="saveSongError"></div><input type="submit" id="commitSongButton" class="button" value="save"></td>
      </tr>
    </table>
  </form>
</div>

<div id='openSongDialog' class='modalDialog'>
  <div id='openSongScroll' style='height: 348px;'></div>
</div>

<div id='outerContent'>
  <ul id='editSongButtons'>
    <li><button type="button" id="saveButton">save</button></li>
    <li><button type="button" id="saveAsButton">save as...</button></li>
    <li><button type="button" id="openButton">open</button></li>
  </ul>

  <div class='content' id="content" onmousedown="return false;">
    <div id="keys"></div>
    <div id="keyboard"></div>
  </div>

  <div id="player"></div>

  <div id="player-area">
    <div id="jp_container_1" class="jp-audio">
      <div class="jp-type-single">
        <div class="jp-gui jp-interface">
          <ul class="jp-controls">
            <li><a href="javascript:;" class="jp-play" tabindex="1">play</a></li>
            <li><a href="javascript:;" class="jp-pause" tabindex="1">pause</a></li>
            <li><a href="javascript:;" class="jp-stop" tabindex="1">stop</a></li>
            <li><a href="javascript:;" class="jp-mute" tabindex="1" title="mute">mute</a></li>
            <li><a href="javascript:;" class="jp-unmute" tabindex="1" title="unmute">unmute</a></li>
            <li><a href="javascript:;" class="jp-volume-max" tabindex="1" title="max volume">max volume</a></li>
          </ul>
          <div class="jp-progress">
            <div class="jp-seek-bar">
              <div class="jp-play-bar"></div>
            </div>
          </div>
          <div class="jp-volume-bar">
            <div class="jp-volume-bar-value"></div>
          </div>
          <div class="jp-time-holder">
            <div class="jp-current-time"></div>
            <div class="jp-duration"></div>

            <ul class="jp-toggles">
              <li><a href="javascript:;" class="jp-repeat" tabindex="1" title="repeat">repeat</a></li>
              <li><a href="javascript:;" class="jp-repeat-off" tabindex="1" title="repeat off">repeat off</a></li>
            </ul>
          </div>
        </div>
        <div class="jp-title">
          <ul>
            <li id="play-status">Ready</li>
          </ul>
        </div>
        <div class="jp-no-solution">
          <span>Update Required</span>
          To play the media you will need to either update your browser to a recent version or update your <a href="http://get.adobe.com/flashplayer/" target="_blank">Flash plugin</a>.
        </div>
      </div>
    </div>
  </div>
</div>

</body>
</html>
