<html>
<head>
<title>Mixboard : Log in</title>
<link type="text/css" rel="stylesheet" href="/static/style.css">
<script type="text/javascript" src="/static/jquery-1.7.1.js/"></script>
</head>
<body>

{% include "bg.html" %}
{% include "header.html" %}

<div id='options'>
<div id='leftBox'><div class='innerContentBorder'>
<div id='leftContent' onmousedown="return false;"></div>
<button type="button" id="login">Log in</button>
</div></div>

<div id='rightBox'><div class='innerContentBorder'>
<div id='rightContent' onmousedown="return false;"></div>
<button type="button" id="login">Log in</button>
</div></div>
</div>

</body>
</html>
