<html>
<head>
<title>Mixboard : Log in</title>
<link type="text/css" rel="stylesheet" href="/static/style.css">
<script type="text/javascript" src="/static/jquery-1.7.1.js/"></script>
</head>

{% load compressed %}
{% compressed_js 'header' %}
{% compressed_css 'styles' %}

<body>

{% include "header.html" %}

<div id='options'>
  <div id='leftBox'>
    <form action="/signup/" id="signupForm">
    <table>
      <tr>
        <td>name</td>
        <td><input type="text" id="registerName" /></td>
      </tr>
      <tr>
        <td>email</td>
        <td><input type="text" id="registerEmail" /></td>
      </tr>
      <tr>
        <td>password</td>
        <td><input type="password" id="registerPassword" /></td>
      </tr>
      <tr>
        <td></td>
        <td><button type="button" id="login">register</button></td>
      </tr>
    
    </table>
    </form>  
</div>

  <div id='rightBox'>
  </div>

</body>
</html>
