body {
  color: #E0E0E0;
}

#title {
  color: white;
  font-weight: bold;
}

#blood-uv {
  position:absolute;
  bottom:20%;
  left:0;
  width: 500px;
  height: 250px;
  z-index: -1;
}

#inset-zombie {
  position:absolute;
  float:right;
  bottom:0;
  right:0;
}
