html,body {
  margin:0;
  padding:0;
  height:100%;
  background-color:#202020;
}

#background-blood {
  position:absolute;
  padding:0;
  margin:0;
  float:left;
  bottom:0;
  left:0;
  z-index: 0;
}

#right-blood {
  position:absolute;
  padding:0;
  margin:0;
  float:right;
  top:0;
  right:0;
  z-index: 0;
}

#container {
  min-height:100%;
  position:relative;
}

#footer {
  <!--position: absolute;-->
  padding: 0px;
  width: 90%;
  bottom:10px;
  margin-left:10px;
}

#roomFrame {
  border:none;
  border-top:1px solid white;
  border-left:1px solid white;
  border-right:1px solid #707070;
  border-bottom:1px solid #707070;
  margin:15px;
  padding:10px;
  width:70%;
  height:60%;
  background-color:#404040;
}

input {
  border: 1px solid #A0A0A0;
  margin: auto 5px;
  background-color: red;
  color: white;
}

input:hover {
  background-color: #AA0000;
}
