html,body {
  margin:0px;
  padding:0px;
  height:100%;
  background-color:#202020;
}

#gameTitle {
  text-align: center;
  color: white;
  font-size: 24pt;
  margin-top: 10px;
  margin-bottom: 10px;
}

#gameDesc {
  color: #E0E0E0;
  background-color:#404040;
  text-align: center;
  color: white;
  font-size: 14pt;
  margin: 10%;
  padding: 10px;

  border-top:1px solid white;
  border-left:1px solid white;
  border-right:1px solid #707070;
  border-bottom:1px solid #707070;
}

#beginButton {
  margin: 5% auto 0px 35%;
  text-align: center;
  width: 30%;
  height: 10%;

  border: 1px solid #A0A0A0;
  background-color: red;
  color: white;
  font-size: 16pt;
}

#beginButton:hover {
  background-color: #AA0000;
}

#body {
  opacity: hide;
  left: -1000;
}

#otherDiv {
  height: 75%;
  border: 1px solid #202020; /* removes scrollbar, for some reason */
}

#logo {
  width: 700px;
  height: 132px;
  padding:0;
  margin:0;
  top:0;
  left:0;
  z-index: 0;
}

#background-blood {
  position:absolute;
  padding:0;
  margin:0;
  float:left;
  bottom:0;
  left:0;
  z-index: 0;
}

#right-blood {
  position:absolute;
  padding:0;
  margin:0;
  float:right;
  top:25%;
  right:0;
  z-index: 0;
}

#container {
  min-height:100%;
  position:relative;
  padding: 0px;
  margin: 0px;
}

#footer {
  padding: 0px;
  width: 90%;
  bottom:10px;
  margin-left:10px;
}

#chooseText {
  position: absolute;
  top: 30%;
  color: white;
  font-size: 30pt;
  text-align: right;
  margin-left: 15px;
}

.character {
  border: 1px solid #A0A0A0;
  margin: 5px;
  background-color: red;
  color: white;
  width: 150px;
  height: 90%;
  float: right;
  font-size: 14pt;
}

.character:hover {
  background-color: #AA0000;
}

.characterIcon {
  width: 125px;
  height: 125px;
  margin-bottom: 15px;
}

#roomFrame {
  border-top:1px solid white;
  border-left:1px solid white;
  border-right:1px solid #707070;
  border-bottom:1px solid #707070;
  margin:15px;
  padding:10px;
  width:70%;
  height:60%;
  background-color:#404040;
  opacity: hide;
}

.action {
  border: 1px solid #A0A0A0;
  margin: auto 5px;
  background-color: red;
  color: white;
  font-size: 14pt;
}

.action:hover {
  background-color: #AA0000;
}

#gameOver {
  position: absolute;
  color: white;
  font-size: 24pt;
  text-align: center;
  top: 30%;
  height: 150px;
  width: 100%;
}
