<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN"
    "http://www.w3.org/TR/html4/strict.dtd">
<html>
<head>
<title>Mixboard : 404</title>

<link type="text/css" href="/static/jquery.jscrollpane.css" rel="stylesheet" media="all" />

<link type="text/css" href="/static/header.css" rel="stylesheet" media="all" />
<link type="text/css" href="/static/editor.css" rel="stylesheet" media="all" />

<script type="text/javascript" src="/static/jquery-1.7.1.js"></script>
<script type="text/javascript" src="/static/jquery.simplemodal-1.4.2.js"></script>
<script type="text/javascript" src="/static/jquery.blockUI.js"></script>

<script type="text/javascript" src="/static/login.js"></script>

</head>
<body>

{% include "header.html" %}

  <div id='leftBox'>
    <h1>Play us off, Keyboard Cat...</h1>
    <p>Sorry, but the page you were looking for does not exist.</p>
    <iframe width="420" height="315" src="http://www.youtube.com/embed/4eGQ5VFt7P4" frameborder="0" allowfullscreen></iframe>
  </div>

</body>
</html>
