<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN"
    "http://www.w3.org/TR/html4/strict.dtd">


<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN"
    "http://www.w3.org/TR/html4/strict.dtd">
<html>
<head>
<title>Mixboard : 500</title>

<link type="text/css" href="/static/jquery.jscrollpane.css" rel="stylesheet" media="all" />

<link type="text/css" href="/static/header.css" rel="stylesheet" media="all" />
<link type="text/css" href="/static/editor.css" rel="stylesheet" media="all" />

<script type="text/javascript" src="/static/jquery-1.7.1.js"></script>
<script type="text/javascript" src="/static/jquery.simplemodal-1.4.2.js"></script>
<script type="text/javascript" src="/static/jquery.blockUI.js"></script>

<script type="text/javascript" src="/static/login.js"></script>

</head>
<body>

{% include "header.html" %}

  <div style="margin: 3%">
    <h1>Page unavailable</h1>

    <p>Sorry, but the requested page is unavailable due to a
    server hiccup.</p>

    <p>Our engineers have been notified, so check back later.</p>

    <p>If you need assistance, you can reference this error as <strong>{{ request.sentry.id }}</strong>.</p>
  </div>

</body>
</html>






<html lang="en">
<head>
    <title>Page unavailable</title>
</head>
<body>
</body>
</html>
