{% if user.is_authenticated %}
  {% load mixboard_extras %}
  {% blockablegroup 'AddComment' %}
    <table>
      <tr>
        <td>
          {% blockable "float: right;" %}
            <div id="addCommentText"></div>
          {% endblockable %}
        </td>
      </tr>
      <tr>
        <td>
          {% blockable "float: right;" %}
            <button type="button" id="addCommentButton">add comment</button>
          {% endblockable %}
          {% busyicon "/static/busy.gif" "float: right; margin: 17px 17px 0px 0px;" %}
        </td>
      </tr>
    </table>
  {% endblockablegroup %}
{% endif %}

<div id="commentsContainer">
  {% include 'comments_table.html' %}
</div>
