<table id="commentsTable">
  {% load mixboard_extras %}
  {% blockablegroup "EditComments" %}
  {% for comment in comments %}
  <tr>
    <td style="vertical-align: top; word-wrap: break-word;padding-top: 20px;">
      <div>
        <b>{{ comment.author }}</b><br>
        <span style="font-size: 10pt;">{{ comment.created|naturaltime }}</span>
        {% if user.is_authenticated %} {% if user == comment.author %}
          <br>
          {% blockable "float: right;" %}
            <button type="button" class="deleteCommentButton" style="font-size: 10pt;" comment="{{ comment.id }}">delete</button>
          {% endblockable %}

          {% blockable "float: right;" %}
            <button type="button" class="editCommentButton" style="font-size: 10pt;" comment="{{ comment.id }}">edit</button>
          {% endblockable %}
        {% endif %} {% endif %}
      </div>
    </td>
    <td style="vertical-align: text-top; word-wrap: break-word; padding-left: 20px;">
      <div class="commentBodyEdit" comment="{{ comment.id }}" style="display: none;">
        {% blockablegroup "EditCommentArea" comment.id %}

          {% blockable %}
            <textarea style="resize: none; overflow: hidden; height: 100px; width: 100%;">{{ comment.text }}</textarea>
          {% endblockable %}

          {% blockable 'float: right;' %}
            <button type='button' id='cancelButton' style='font-size: 10pt;'>cancel</button>
          {% endblockable %}

          {% blockable 'float: right;' %}
            <button type='button' id='saveButton' style='font-size: 10pt;'>save</button>
          {% endblockable %}

          {% busyicon "/static/busy.gif" "float: right; margin: 7px 10px 0px 0px;" %}

        {% endblockablegroup %}
      </div>
      <span class="commentBodyDisplay" comment="{{ comment.id }}" style="width: 500px; display: inline-block;">{{ comment.markdown|safe }}</span>
    </td>
  </tr>
  {% endfor %}
  {% endblockablegroup %}
</table>
