<script type="text/javascript" src="/static/jquery.autoresize.js"></script>

<table id="commentsTable">
  {% for comment in comments %}
  <tr>
    <td style="vertical-align: top; word-wrap: break-word;padding-top: 20px;">
      <div>
        <b>{{ comment.author }}</b><br>
        <span style="font-size: 10pt;">{{ comment.created }}</span>
        {% if user.is_authenticated %} {% if user == comment.author %}
          <br>
          <button type="button" class="deleteCommentButton" style="float: right; font-size: 10pt;" comment="{{ comment.id }}">Delete</button>
          <button type="button" class="editCommentButton" style="float: right; font-size: 10pt;" comment="{{ comment.id }}">Edit</button>
        {% endif %} {% endif %}
      </div>
    </td>
    <td style="vertical-align: text-top; word-wrap: break-word; padding-top: 20px; padding-left: 20px;">
      <span class="commentBody" comment="{{ comment.id }}" style="width: 500px; display: inline-block;">{{ comment.text }}</span>
    </td>
  </tr>
  {% endfor %}
</table>
