<table id="commentsTable">
  {% load mixboard_extras %}
  {% blockablegroup "EditComments" %}
  {% for comment in comments %}
  <tr>
    <td style="vertical-align: top; word-wrap: break-word;padding-top: 20px;">
      <div>
        <b>{{ comment.author }}</b><br>
        <span style="font-size: 10pt;">{{ comment.created|naturaltime }}</span>
        {% if user.is_authenticated %} {% if user == comment.author %}
          <br>
          {% blockable "float: right;" %}
            <button type="button" class="deleteCommentButton" style="font-size: 10pt;" comment="{{ comment.id }}">delete</button>
          {% endblockable %}

          {% blockable "float: right;" %}
            <button type="button" class="editCommentButton" style="font-size: 10pt;" comment="{{ comment.id }}">edit</button>
          {% endblockable %}
        {% endif %} {% endif %}
      </div>
    </td>
    <td style="vertical-align: text-top; word-wrap: break-word; padding-top: 20px; padding-left: 20px;">
      <span class="commentBodyRaw" comment="{{ comment.id }}" style="display: none;">{{ comment.text }}</span>
      <span class="commentBodyDisplay" comment="{{ comment.id }}" style="width: 500px; display: inline-block;">{{ comment.markdown|safe }}</span>
    </td>
  </tr>
  {% endfor %}
  {% endblockablegroup %}
</table>
