<div id="header">
  <a href="/">
    <img src='/static/mixboardlogo.png' id='logo'>
  </a>

  {% if user.is_authenticated %}
    <div id="username">{{ user.username }}</div>
    <ul id="userBar">
      <li><button type="button" id="profileButton">my profile</button></li>
      <li><button type="button" id="usersButton">users</button></li>
      <li><button type="button" id="trendingButton">trending</button></li>
      <li><button type="button" id="logoutButton">log out</button></li>
    </ul>
  {% else %}
    <form action="/login/" id="loginForm">
      <table>
        <tr>
          <td colspan="2"><input type="text" id="loginName" placeholder="name or email" /></td>
        </tr>
        <tr>
          <td colspan="2"><input type="password" id="loginPassword" placeholder="password" /></td>
        </tr>
        <tr>
          <td id="loginError"></td>
          <td><input type="submit" id="loginButton" class="button" value="log in"></td>
        </tr>
      </table>
    </form>
    <ul id="unauthenticatedUserBar">
      <li><button type="button" id="trendingButton">trending</button></li>
      <li><button type="button" id="usersButton">users</button></li>
    </ul>
  {% endif %}
</div>
