<html>
<head>
<title>Mixboard : users</title>

<link type="text/css" href="/static/header.css" rel="stylesheet" media="all" />
<link type="text/css" href="/static/editor.css" rel="stylesheet" media="all" />
<link type="text/css" href="/static/profile.css" rel="stylesheet" media="all" />

<script type="text/javascript" src="/static/jquery-1.7.1.js"></script>
<script type="text/javascript" src="/static/login.js"></script>
<script type="text/javascript" src="/static/list_users.js"></script>

</head>
<body>

{% include "header.html" %}

<div id="profile">
  <h2>users</h2>
  <table>
  {% load mixboard_extras %}
  {% for user in users %}
    <tr>
      <td>
        <table width="325" class="profile">
          <colgroup>
            <col width="25">
            <col width="300">
          </colgroup>
          <tr>
            <td style="text-align: right; font-size: 12pt;">{{ user.get_profile.total_votes }}</td>
            <td class="profileUsername" name="{{ user.username|hyphenate }}" userid="{{ user.id }}" style="padding-left: 20px; font-weight: bold;">{{ user.username|truncatechars:20 }}</td>
          <tr>
        </table>
      </td>
    </tr>
  {% endfor %}
  </table>
</div>

</body>
</html>
