<div id="player"></div>

<div id="player-area">
  <table id="vote-area" style="margin-top: 25px;">
    {% if user.is_authenticated %}
      {% if user == song.owner %}
      <tr>
        <td><img src="/static/vote_up.png"></td>
      </tr>
      {% else %}
      <tr>
        <td><a href="javascript:void(0)" id="voteUpButton"><img src="/static/vote_up.png"></a></td>
      </tr>
      {% endif %}
    {% else %}
    <tr>
      <td><a href="/signup/?next={{ current_path }}"><img src="/static/vote_up.png"></a></td>
    </tr>
    {% endif %}
    <tr>
      <td id="voteCount">{{ song.vote_count }}</td>
    </tr>
    {% if user.is_authenticated %}
      {% if user == song.owner %}
      <tr>
        <td><img src="/static/vote_down.png"></td>
      </tr>
      {% else %}
      <tr>
        <td><a href="javascript:void(0)" id="voteDownButton"><img src="/static/vote_down.png"></a></td>
      </tr>
      {% endif %}
    {% else %}
    <tr>
      <td><a href="/signup/?next={{ current_path }}"><img src="/static/vote_down.png"></a></td>
    </tr>
    {% endif %}
  </table>

  <div id="jp_container_1" class="jp-audio">
    <div class="jp-type-playlist">
      <div class="jp-gui jp-interface">
        <ul class="jp-controls">
          <li><a href="javascript:;" class="jp-play" tabindex="1">play</a></li>
          <li><a href="javascript:;" class="jp-pause" tabindex="1">pause</a></li>
          <li><a href="javascript:;" class="jp-stop" tabindex="1">stop</a></li>
          <li><a href="javascript:;" class="jp-mute" tabindex="1" title="mute" style="left: 50px;">mute</a></li>
          <li><a href="javascript:;" class="jp-unmute" tabindex="1" title="unmute">unmute</a></li>
          <li><a href="javascript:;" class="jp-volume-max" tabindex="1" title="max volume" style="position: relative; left: 80px;">max volume</a></li>
        </ul>
        <div class="jp-progress" style="top: -9px;">
          <div class="jp-seek-bar">
            <div class="jp-play-bar"></div>
          </div>
        </div>
        <div class="jp-volume-bar" style="left: 75px; width: 100px;">
          <div class="jp-volume-bar-value"></div>
        </div>
        <div class="jp-time-holder" style="left: 220px;">
          <div class="jp-current-time"></div>
          <div class="jp-duration"></div>

          <!--<ul class="jp-toggles">
            <li><a href="javascript:;" class="jp-repeat" tabindex="1" title="repeat">repeat</a></li>
            <li><a href="javascript:;" class="jp-repeat-off" tabindex="1" title="repeat off">repeat off</a></li>
          </ul>-->
        </div>
        <div class="jp-title" style="position: absolute; top: 0px; right: 5px; width: 200px; text-align: right;">
          <ul>
            <li id="play-status">Ready</li>
          </ul>
        </div>
      </div>
      <div class="jp-no-solution">
        <span>Update Required</span>
        To play the media you will need to either update your browser to a recent version or update your <a href="http://get.adobe.com/flashplayer/" target="_blank">Flash plugin</a>.
      </div>
    </div>
  </div>

  <div style="clear: both;">
</div>
