<html>
<head>
<title>Mixboard : {{ song.owner.username }} : {{ song.name }}</title>
<link type="text/css" href="/static/skin/jplayer.blue.monday.css" rel="stylesheet" media="all">
<link type="text/css" href="/static/jquery.jscrollpane.css" rel="stylesheet" media="all" />

<link type="text/css" href="/static/header.css" rel="stylesheet" media="all" />
<link type="text/css" href="/static/editor.css" rel="stylesheet" media="all" />

<script type="text/javascript" src="/static/jquery-1.7.1.js"></script>

<script type="text/javascript" src="/static/mwheelIntent.js"></script>
<script type="text/javascript" src="/static/jquery.mousewheel.js"></script>
<script type="text/javascript" src="/static/jquery.jscrollpane.min.js"></script>
<script type="text/javascript" src="/static/jquery.jplayer.js"></script>
<script type="text/javascript" src="/static/jquery.simplemodal-1.4.2.js"></script>
<script type="text/javascript" src="/static/editorCSS.js"></script>
<script type="text/javascript" src="/static/editor.js"></script>

<script type="text/javascript" src="/static/login.js"></script>

</head>
<body>

{% include "header.html" %}

<div id='readOnly'  style="display: none;"></div>
<div id='songId'    style="display: none;">{{ song.id }}</div>
<div id='songOwner' style="display: none;">{{ song.owner.username }}</div>
<div id='songName'  style="display: none;">{{ song.name }}</div>
<div id='songData'  style="display: none;">{{ song.data }}</div>

<div id='outerContent'>
  <h2 style="margin-left: 10px; margin-top: 10px; margin-bottom: 0px;">{{ song.name }}</h2>

  {% if user.is_authenticated %} {% if user == song.owner %}
    <ul id='editSongButtons'>
      <li><button type="button" id="editButton">edit</button></li>
    </ul>
  {% endif %} {% endif %}

  <div class='content' id="content" onmousedown="return false;">
    <div id="keys"></div>
    <div id="keyboard"></div>
  </div>

  <div id="player"></div>

  <div id="player-area">
    <table id="vote-area" style="float: left; margin-top: 25px;">
      {% if user.is_authenticated %}
        {% if user == song.owner %}
        <tr>
          <td><img src="/static/vote_up.png"></td>
        </tr>
        {% else %}
        <tr>
          <td><a href="javascript:void(0)" id="voteUpButton"><img src="/static/vote_up.png"></a></td>
        </tr>
        {% endif %}
      {% else %}
      <tr>
        <td><a href="/signup/?next={{ current_path }}"><img src="/static/vote_up.png"></a></td>
      </tr>
      {% endif %}
      <tr>
        <td id="voteCount">{{ song.vote_count }}</td>
      </tr>
      {% if user.is_authenticated %}
        {% if user == song.owner %}
        <tr>
          <td><img src="/static/vote_down.png"></td>
        </tr>
        {% else %}
        <tr>
          <td><a href="javascript:void(0)" id="voteDownButton"><img src="/static/vote_down.png"></a></td>
        </tr>
        {% endif %}
      {% else %}
      <tr>
        <td><a href="/signup/?next={{ current_path }}"><img src="/static/vote_down.png"></a></td>
      </tr>
      {% endif %}
    </table>

    <div id="jp_container_1" class="jp-audio" style="float: left;">
      <div class="jp-type-single">
        <div class="jp-gui jp-interface">
          <ul class="jp-controls">
            <li><a href="javascript:;" class="jp-play" tabindex="1">play</a></li>
            <li><a href="javascript:;" class="jp-pause" tabindex="1">pause</a></li>
            <li><a href="javascript:;" class="jp-stop" tabindex="1">stop</a></li>
            <li><a href="javascript:;" class="jp-mute" tabindex="1" title="mute">mute</a></li>
            <li><a href="javascript:;" class="jp-unmute" tabindex="1" title="unmute">unmute</a></li>
            <li><a href="javascript:;" class="jp-volume-max" tabindex="1" title="max volume">max volume</a></li>
          </ul>
          <div class="jp-progress">
            <div class="jp-seek-bar">
              <div class="jp-play-bar"></div>
            </div>
          </div>
          <div class="jp-volume-bar">
            <div class="jp-volume-bar-value"></div>
          </div>
          <div class="jp-time-holder">
            <div class="jp-current-time"></div>
            <div class="jp-duration"></div>

            <ul class="jp-toggles">
              <li><a href="javascript:;" class="jp-repeat" tabindex="1" title="repeat">repeat</a></li>
              <li><a href="javascript:;" class="jp-repeat-off" tabindex="1" title="repeat off">repeat off</a></li>
            </ul>
          </div>
        </div>
        <div class="jp-title">
          <ul>
            <li id="play-status">Ready</li>
          </ul>
        </div>
        <div class="jp-no-solution">
          <span>Update Required</span>
          To play the media you will need to either update your browser to a recent version or update your <a href="http://get.adobe.com/flashplayer/" target="_blank">Flash plugin</a>.
        </div>
      </div>
    </div>

    <div style="clear: both;">
  </div>
</div>

<div id="comments">
  <h2>comments</h2>

  {% include 'add_comments_table.html' %}
</div>

<script type="text/javascript" src="/static/comments_table.js"></script>
<script type="text/javascript" src="/static/add_comments_table.js"></script>

</body>
</html>
