<html>
<head>
<title>Mixboard : {{ song.owner.username }} : {{ song.name }}</title>
<link type="text/css" href="/static/zenphotodark/jplayer.zenphoto.css" rel="stylesheet" media="all" />
<link type="text/css" href="/static/jquery.jscrollpane.css" rel="stylesheet" media="all" />

<link type="text/css" href="/static/codemirror/lib/codemirror.css" rel="stylesheet" media="all" />
<link type="text/css" href="/static/codemirror/theme/night.css" rel="stylesheet" media="all" />

<link type="text/css" href="/static/header.css" rel="stylesheet" media="all" />
<link type="text/css" href="/static/editor.css" rel="stylesheet" media="all" />

<script type="text/javascript" src="/static/jquery-1.7.1.js"></script>

<script type="text/javascript" src="/static/mwheelIntent.js"></script>
<script type="text/javascript" src="/static/jquery.mousewheel.js"></script>
<script type="text/javascript" src="/static/jquery.jscrollpane.min.js"></script>
<script type="text/javascript" src="/static/jquery.jplayer.js"></script>
<script type="text/javascript" src="/static/jquery.simplemodal-1.4.2.js"></script>
<script type="text/javascript" src="/static/jquery.autoresize.js"></script>
<script type="text/javascript" src="/static/jquery.blockUI.js"></script>

<script type="text/javascript" src="/static/codemirror/lib/codemirror.js"></script>
<script type="text/javascript" src="/static/codemirror/mode/xml/xml.js"></script>
<script type="text/javascript" src="/static/codemirror/mode/markdown/markdown.js"></script>

<script type="text/javascript" src="/static/editorCSS.js"></script>
<script type="text/javascript" src="/static/editor.js"></script>

<script type="text/javascript" src="/static/login.js"></script>

<script type="text/javascript" src="/static/comments_table.js"></script>
<script type="text/javascript" src="/static/add_comments_table.js"></script>

<style type="text/css">
body {
  margin-bottom: 75px;
}
</style>

</head>
<body>

{% include "header.html" %}

<div id='readOnly'  style="display: none;"></div>
<div id='songId'    style="display: none;">{{ song.id }}</div>
<div id='songOwner' style="display: none;">{{ song.owner.username }}</div>
<div id='songName'  style="display: none;">{{ song.name }}</div>
<div id='songData'  style="display: none;">{{ song.data }}</div>

<div id='outerContent'>
  <h2 id="songTitle" style="margin-left: 10px; margin-top: 10px; margin-bottom: 0px;">{{ song.name }}</h2>

  {% if user.is_authenticated %} {% if user == song.owner %}
    <ul id='editSongButtons'>
      <li><button type="button" id="editButton">edit</button></li>
    </ul>
  {% endif %} {% endif %}

  <div class='content' id="content" onmousedown="return false;">
    <div id="keys"></div>
    <div id="keyboard"></div>
  </div>

  {% include 'player.html' %}

</div>

<div id="comments">
  <h2>comments</h2>

  {% include 'add_comments_table.html' %}
</div>

</body>
</html>
