{% load mixboard_extras %}

<div id="chooseForkNameModal" class='modalDialog' style="display: none;">
  <form action="dsfdsfdsfsdf" id="chooseForkNameForm">
    <table>
      <tr>
        <td>name</td>
        <td><input type="text" id="forkSongName"></td>
      </tr>
      <tr>
        <td colspan="2"></td>
      <tr>
        <td colspan="2"><input type="submit" class="button" id="chooseForkNameSubmit" value="fork"></td>
      </tr>
    </table>
  </form>
</div>

<table id="trending">
{% for song in songs %}
  <tr>
    <td>
      <table width="530" class="trendingSong" songId="{{ song.id }}">
        <colgroup>
          <col width="25">
          <col width="355">
          <col width="100">
          <col width="50">
        </colgroup>
        <tr>
          <td style="text-align: right; font-size: 12pt;">{{ song.vote_count }}</td>
          <td class="trendingSongName" name="{{ song.name|hyphenate }}" style="text-align: left; padding-left: 20px; color: #788B9F;">{{ song.name|truncatechars:30 }}</td>
          <td class="trendingSongUsername" name="{{ song.owner.username|hyphenate }}" style="text-align: right; padding-right: 10px; font-weight: bold;">{{ song.owner.username|truncatechars:15 }}</td>
          {% if user.is_authenticated %}
            <td><button type="button" class="forkSongButton">fork</button></td>
          {% else %}
            <td></td>
          {% endif %}
        <tr>
      </table>
    </td>
  </tr>
{% endfor %}
</table>
