{% load mixboard_extras %}

<table id="trending">
{% for song in songs %}
  <tr>
    <td>
      <table width="530" class="trendingSong">
        <colgroup>
          <col width="25">
          <col width="355">
          <col width="100">
          <col width="50">
        </colgroup>
        <tr>
          <td style="text-align: right; font-size: 12pt;">{{ song.vote_count }}</td>
          <td class="trendingSongName" name="{{ song.name }}" style="text-align: left; padding-left: 20px; color: #788B9F;">{{ song.name|truncatechars:30 }}</td>
          <td class="trendingSongUsername" name="{{ song.owner.username }}" style="text-align: right; padding-right: 10px; font-weight: bold;">{{ song.owner.username|truncatechars:15 }}</td>
          {% if user.is_authenticated %}
            <td><button type="button" class="forkSongButton" onclick="window.location.href = '/song/fork/{{ song.owner.username }}/{{ song.name }}/'">fork</button></td>
          {% else %}
            <td></td>
          {% endif %}
        <tr>
      </table>
    </td>
  </tr>
{% endfor %}
</table>
